* {
    margin: 0;
    padding: 0;
}

body {
    background: lightgray;
}

li:hover {
    background: lightgray;
    cursor: pointer;

}

li input[type=checkbox] {
    zoom: 2;
    cursor: pointer;

}

#completed {
    text-decoration: line-through;

}

/* #complete:nth-last-child():empty {
    display: none;
}

#completed:nth-last-child():empty {
    display: none;
} */